<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Define targets for logging -->
	<targets>
		<!-- Write logs to a file -->
		<target name="fileLog" xsi:type="File" fileName="C:\Users\yogesh\OneDrive\Desktop\HelloApp\HelloGreetingApplication\HelloGreetingApplication\Log\App.log"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

		<!-- Write logs to the console -->
		<target name="consoleLog" xsi:type="Console" layout="${longdate} | ${level} | ${message}" />
	</targets>

	<!-- Define logging rules -->
	<rules>
		<!-- Log everything from Debug level and above to file -->
		<logger name="*" minlevel="Debug" writeTo="fileLog" />

		<!-- Log only warnings and above to console -->
		<logger name="*" minlevel="Warn" writeTo="consoleLog" />
	</rules>
</nlog>
